<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>面接の希望日程が登録されました。</h1>
    <p>
      申請ユーザー: <%= @request_user.name %>
      <br>
    </p>
    <table>
      <thead>
        <tr>
          <th></th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @request_user.interviews.each do |interview| %>
          <tr>
            <td><%= l(interview.date, format: :long) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p>この面接を承認するには、<%= @url %>からログインしてください</p>
  </body>
</html>
